body {
  margin: 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: minmax(50px, min-content) 1fr 50px;
  grid-template-areas: ". header ." ". content ." ". footer .";
}

@media screen and (max-width: 550px) {
  body {
    grid-template-columns: 0 1fr 0;
  }
}

h2 {
  font-family: modesto-condensed,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #382B24;
}

.site {
font-family: modesto-open-caps,sans-serif;
font-weight: 400;
font-style: normal;  
  
  opacity: .25;
  font-size: 24px; /* the ol' fallback */
  font-size: clamp(16px, 2vw, 24px);

  margin: 0;
  text-align: center;

  line-height: 1em;
  
  grid-area: header;
  align-self: center;
  min-height: 0vw;
}

.site a {
  color: #382B24;
  text-decoration: none;
  letter-spacing: clamp(0px, 0.018 * (100vw - 320px), 24px); 
}

h3 {
  font-family: modesto-poster,serif;
  font-weight: 400;
  font-style: normal;
  color: #382B24;
  
}

.body {
  background-color: #FCF9F2;
  padding: 50px;
  grid-area: content;
}

footer {
  grid-area: footer;
  padding: 10px; 
  font-size: .8em;
  text-align: center;
}

.head {
  display: grid;
  border-bottom: 10px solid #F5D899;
  grid-template-columns: 200px 2px 1fr;
  grid-template-areas: "type divider title";
  align-items: center;
  justify-items: center;
}

.head h3 {
  grid-area: type;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.head h2 {
  grid-area: title;
  text-align:center;
  padding: 0 25px;
  text-transform: uppercase;
}

.head:after {
  content: "";
  background-color: #F5D899;
  height: 100%;
  width: 100%;
}

.content {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sidebar content";
  margin: 100px 0;
}

.article {
  grid-area: content;
  border-top: 1px solid #333;
  padding-top: 50px;
}

.sidebar {
  grid-area: sidebar;
}

img {
  width: 100%;
  
}


@media screen and (max-width: 900px) {
  .body {
    padding: 25px 0;
  }
  .head {
    grid-template-columns: 1fr;
    grid-template-areas: "type" "divider" "title";
  }
  .head:after {
    height: 1px;
    width: 200px;
  }
  .head h2 {
    margin: 10px 0 50px;
  }
  
  .content {
    grid-template-columns:  10px 1fr 10px;
    grid-template-rows: min-content min-content;
    grid-template-areas: ". sidebar ." ". content .";
    gap: 0px;
  }
}

