body {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: minmax(50px, min-content) 1fr 50px;
  grid-template-areas: ". header ." ". content ." ". footer .";
  margin: 0 auto;
  max-width: 1400px;
  font-family: 'PT Serif',Georgia,Times,'Times New Roman',serif;
}

a {
  color: #333;
  text-decoration-color: #F5D899;
  text-decoration-thickness: 3px;
}

p {
  font-size: 1.2em;
  line-height: 1.8;
}

@media screen and (max-width: 550px) {
  body {
    grid-template-columns: 0 1fr 0;
  }
}

h2 {
  font-family: modesto-condensed,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #382B24;
}

.site {
font-family: modesto-open-caps,sans-serif;
font-weight: 400;
font-style: normal;  
  
  opacity: .25;
  font-size: 24px; /* the ol' fallback */
  font-size: clamp(16px, 2vw, 24px);

  margin: 0;
  text-align: center;

  line-height: 1em;
  
  grid-area: header;
  align-self: center;
  min-height: 0vw;
}

.site a {
  color: #382B24;
  text-decoration: none;
  letter-spacing: clamp(0px, 0.018 * (100vw - 320px), 24px); 
}

h3 {
  font-family: modesto-poster,serif;
  font-weight: 400;
  font-style: normal;
  color: #382B24;
  
}

.body {
  background-color: #FCF9F2;
  padding: 50px;
  grid-area: content;
}

footer {
  grid-area: footer;
  padding: 10px; 
  font-size: .8em;
  text-align: center;
}

.head {
  display: grid;
  border-bottom: 10px solid #F5D899;
  grid-template-columns: 200px 2px 1fr;
  grid-template-areas: "type divider title";
  align-items: center;
  justify-items: center;
}

.head h3 {
  grid-area: type;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.head h2 {
  grid-area: title;
  text-align:center;
  padding: 0 25px;
  text-transform: uppercase;
}

.head:after {
  content: "";
  background-color: #F5D899;
  height: 100%;
  width: 100%;
}

.content {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sidebar content";
  margin: 100px 0;
}

.article {
  grid-area: content;
  border-top: 1px solid #333;
  padding-top: 50px;
}

.simplecontainer {

}

.article > p {
  margin: 0;
  text-indent: 2em;
}

.article > :first-child {
  margin:0 0 .2em;
  font-size: 1.6em;
  line-height: 1.5;
  text-indent: 0;
}

.article > :nth-child(2) {
  text-indent: 0;
}

.sidebar {
  grid-area: sidebar;
}

img {
  width: 100%;
  
}


@media screen and (max-width: 900px) {
  .body {
    padding: 25px 0;
  }
  .head {
    grid-template-columns: 1fr;
    grid-template-areas: "type" "divider" "title";
  }
  .head:after {
    height: 1px;
    width: 200px;
  }
  .head h2 {
    margin: 10px 0 50px;
  }
  
  .content {
    grid-template-columns:  10px 1fr 10px;
    grid-template-rows: min-content min-content;
    grid-template-areas: ". sidebar ." ". content .";
    gap: 0px;
  }

  .simplecontainer {
    padding: 20px;
  }
}


.tags {
  margin-top: 50px;
}
.tag {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #F8E8C5;
  color: #666;
  text-decoration: none;
}

.postlist {
  list-style: none;
  padding:0;
}

.postlist-item {
  margin: 20px 0;
  display:grid;
  grid-template-columns: 1fr max-content;
  gap: 0 5px;
}

.postlist-link {
  font-size: 1.2em;
  display: block;
}

.postlist-date {
  display: block;
  justify-self: end;
}

p.glassdivider {
  text-align: center;
  margin: 50px;
}

.tagg {
  font-size: .8em;
  color: #666;
  text-decoration: none;
}

.meta {
  margin-top: 50px;
}

.rating {
  margin-bottom: 1rem;
}

.rating-rate {
  display: inline-block; 
  border: 1px solid #666;
  padding: 2px 8px;
}

@media (hover) {
  .tagg:hover {
    text-decoration: underline;
  }
}



@media (prefers-color-scheme: dark) {
  body { background-color: #000; }
  footer { color: #666; }
  a { color: #D9BF87; text-decoration-color: #382B24; }
  .body { background-color: #1A1919; color: #D9BF87; }
  .site a { color: #FFF; }
  .article > :first-child:first-line { box-shadow: inset 0 -0.75em 0 #382B24; }
  .head { border-bottom-color: #382B24; }
  .head:after, .tag { color: #D9BF87; background-color: #382B24; }
  h2, h3 { color: #D9BF87; }

}
