---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<div class="head">
    <h2>All {{ collections.posts.length }} Reviews</h2>
    <h3>Whisky</h3>
</div>

<div class="simplecontainer">

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

</div>
this is my change
