---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
img: /img/whiskies.jpg
---

<div class="head">
    <h2>An Exploration of Flavour</h2>
    <h3>Whisky</h3>
</div>

<img src="/img/whiskies.jpg" alt="A collection of whiskies sitting on a shelf" style="margin:50px 0 -50px;">

<div class="content">
<div class="sidebar">

<p>Welcome to my library of whiskies. My journey into whisky is both short and long. For many years, friends had tried to introduce me to it and I shuddered with every sip. For some reason, it did not do anything for me. I preferred to stick to my screwdrivers and long islands. </p>

<p>Something clicked and ever since, I have had the opportunity to explore many whiskies from many regions. I have quickly grown my personal collection of whiskies over the last few years.</p>

<p>Of course, people have different tastes. These are mine. I wanted a place to document what I've tried and remember what I have in my collection. I hope you enjoy this, too.</p>

<center><img src="/img/glass.png" width="126" height="110" style="width:auto" alt="An empty whisky glass"></center>
</div>
<div class="article">
<h1>Latest Reviews</h1>

{% set postslist = collections.posts | head(-6) %}
{% set postslistCounter = collections.posts | length %}

<div>
{% for post in postslist | reverse %}
  <div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <div>
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tagg">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>


<a href="/posts/">See the list of all whiskies</a>
</div>
</div>
