---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="head">
    <h2>Tagged “{{ tag }}”</h2>
    <h3>Whisky</h3>
</div>

<div class="simplecontainer">
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.
<br>
See <a href="{{ '/posts/' | url }}">all whiskies</a>.</p>
</div>
