<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="https://use.typekit.net/bbi4bkw.css">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ img }}">
    <meta name="twitter:card" content="summary_large_image">

  </head>
  <body>

<h1 class="site"><a href="/">The Snook Nook</a></h1>
<main class="body">
      {{ content | safe }}
</main>
<footer>&copy; Jonathan Snook</footer>
  </body>
</html>




