---
layout: layouts/base.njk
templateClass: tmpl-post
---
  <div class="head">
    <h2>{{ title }}</h2>
    <h3>{{ type }}</h3>
  </div>
  
  <div class="content">
    <div class="sidebar">
      <img src="{{ img }}">
    </div>
    <div class="article">
      {{ content | safe }}

<div class="tags">
{% for tag in tags %}
  {%- if collections.tagList.indexOf(tag) != -1 -%}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {%- endif -%}
{% endfor %}
</div>

    </div>
  </div>


